body {
    background-image: url(../img/halftone-yellow.png);
}

.logo {
    font-family: 'Helvetica';
}

.logo a {
    color: #2e3133;
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}
